/*------------------Colour-Variables-------------------------*/
:root {
    --primary: #88C399;
    --secondary: #c5ddcc;
    --tertiary: #FFD180;
    --background: #white;
    --accent: #FFFFB1;
    --selection: #acbdb1;
    --window2: #f5f5f5;
    --window3: #e7e7e7;

}

*{
    font-size: 1.05em;
}

/*------------------Page Sizing----------------------------*/
body {
    min-width: 400px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    font-size: 2em;
    position: absolute;
    top: 10px;
    left: 10px;
}

#add-event-button {
    z-index: 16;
}

.add-event {
    min-height: 600px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    z-index: 30;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;

}


.event-form {
    background-color: white;
    height: 95%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.event-form > * {
    margin-top: 10px;
    
}

.event-form input {
    height: 40px;
    
}

.event-form label {
    min-width: 120px;
    font-weight: 600;
}



#add-event-title {
    color: black;
    text-align: center;
    font-size: 1.4em;
}

#form-cancel-and-add {
    display: flex;
    justify-content: center;
    width: 100%;

}
#check-in-submit-button {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--primary);
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    font-weight: 700;
    margin-top: 30px;
    border: none;
}

.checked {
    background-color: var(--tertiary);
}
