#plussign {
    height: 15px;
    width: 15px;
}

#person-icon-small {
    height: 1.5em;
    width: 1.5em;
}

#person-icon-big {
    height: 50px;
    width: 50px;
}

#attended-absent-icon-small {
    height: 1.5em;
    width: 1.5em;
}

.jumbotron {
    text-align: center;
}

#organizerlogin {
    text-align: center;
    padding-bottom: 0.5%;
}

#attendeelogin {
    text-align: center;
    padding-bottom: 0.5%
}

#signupbutton {
    text-align: center;
    ;
}

.list-group {
    text-align: center;
}

.container-fluid {
    text-align: center;
}

#attendrtitle {
    background-color: #f8f9fa;
}

.container-fluideventlistscreen {
    text-align: left;
    padding-left: 0.5%;
}

#event-attendance-info {
    background-color: rgb(209, 209, 209);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#event-description {
    padding: 1em;
    grid-column: 1;
    grid-row: 1;
}

#miscellaneous-info {
    text-align: right;
    margin-right: 3em;
    padding-top: 1em;
    grid-column: 2;
    grid-row: 1;
}

#attendance-counters-icons {
    display: flex;
    justify-content: space-evenly;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.checkinarea{
    display:grid;
    text-align: center;
}

.checkinarea button {
    height: 5em;
}

.eventDescription{
    display:grid;
    text-align:center;
}

/*---------------------main.html-------------------------*/

.list-group-item {
    border: black 1px solid;
    display: flex;
    height: 15em;
    justify-content: space-between;
}

.list-group-item-description {
    display: flex;
    border: red 1px solid;
    flex-direction: column;
    align-items: flex-start;
}

.list-group-item-misc-info-attendance {
    display: flex;
}

.present-indicator-icon, .absent-indicator-icon {
    height: 80px;
    width: 80px;
}

.list-group-item-misc-info {
    display: flex;
    flex-direction: column;
}

.cap-lates-indicator ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cap-lates-indicator li {
    list-style: none;
}


